<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="topnav">
        <ul id="menu">
          <!-- <img src="cdr.png" alt="" style="height: 50px;width: 50px;"> -->
          <li class="login"><a href="{{ url_for('logout') }}">התנתק</a></li>
              <li>
              <a href="#">דוחות ￬</a>
              <ul class="hidden">
                  <li><a href="reports.html">הצגת דוחות</a></li>
                  <li><a href="logs.html">הצגת לוגים</a></li>
              </ul>
              <li>
                <a href="#">ניהול תיבות דואר ￬</a>
                <ul class="hidden">
                    <li><a href="mailboxadd.html">הוספת תיבה</a></li>
                    <li><a href="{{url_for('mailboxedit')}}">עריכת תיבה</a></li>
                    <li><a href="mailboxremove.html">מחיקת תיבה</a></li>
                </ul>
                <li>
                  <a href="#">ניהול מדיניות ￬</a>
                  <ul class="hidden">
                      <li><a href="{{url_for('policyall')}}">מדיניות כללית</a></li>
                      <li><a href="{{url_for('policyone')}}">ערוך מדיניות לתיבה</a></li>
                  </ul>
              <li>
                <a href="{{url_for('index')}}">ראשי</a>
              </li>
              
        </ul>
   
    </div>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>{{ title }}</span></div>
        
          {% block content %}
          {% endblock %}
            
          </div>
          
        
       
      </div>
    </div>
    
<div class="bottom-pan">מערכת CDR נבנתה ע"י אלעד קריסטל ושחר חזן</div>
  </body>
</html>
